body{
	font-family: "Source Sans Pro", sans-serif;
}
.container{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	flex-wrap: wrap;
	max-width: 1170px;
	margin: 0 auto;
}
h1{
	font-weight: 300;
	font-size: 3.2em;
	color: #273849;
}
p{
	color: #42b983;
	font-size: 1.5em;
	font-weight: 400;
}
ul li{
	font-size: 1em;
	color: #273849;
}